.social-facebook {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    color: #0f4764;
    background-color: rgb(255, 253, 253);
    font-size: 1.2em;
  }
  .social-facebook:hover {
    color: #e25d85;
    cursor: pointer;
  }
  
  .social:hover {
    cursor: pointer;
    color: #e25d85;
  }
  .social {
    color: #0f4764;
    font-weight: bolder !important;
  }
  
  .social-container {
    margin: 20px 0;
  }
  
  .social-container a {
    text-decoration: none !important;
  }
  
  .social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }
