html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.social-facebook {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 253, 253);
  font-size: 1.2em;
}
.social-facebook:hover {
  color: #e25d85;
}

.social:hover {
  cursor: pointer;
  color: #e25d85;
}
.social {
  color: black;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  text-decoration: none !important;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}