html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.icon-nav{
  font-family: "simple-line-icons";
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.main-btn{
  background: #2687b8;
}

a:hover {
  color: #2687b8;
  text-decoration: none;
}

footer, .app-footer {
  background: #000000 !important;
  color: #fff !important;
  width: 100%;
}
footer a{
  font-size: 0.9rem;

}
footer a, footer h5{
  color: #fff !important;
  font-family: "Montserrat",sans-serif;
  color: #333;
  background-color: transparent;
}
footer a:hover{
  color: #2687b8 !important;
  text-decoration: none!important;
}

